.location_image img{
    width: 114rem;
    height: 40rem;
    position: relative;
    
}
.back_page {
    background-color: black;
    border: none;
    color: white;
   z-index: 99999;
   left: 0;
   top: 100px;
    text-align: center;
   position: absolute;
    display: inline-block;
    font-size: 26px;
  }
  .main{
    background-color: black;
    width: 1rem;
    float: left;
    height: 20rem;
    color: white;
  }
  .location_list{
      text-align: center;
      color: peru;
  }
  .list{
  text-align: center;
  }
  .paratext{
      text-align: center;
  }
  footer{
      background-color:white;
    width: 100%;
    height: 15rem;
}

.text{
    color: black;
   font-size: 1.8rem;
   padding-left: 10rem;
}
.Art_Gallery_Image_Text2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    color: black;
}
.icons img{
    color: black;
    width: 10rem;
    height: 40px;
    margin-left: 70rem;
}

@media only screen and (min-width: 768px ) 
    {
        .location_image img{
            width: 114rem;
            height: 40rem;
            position: relative;
            
        }
        .back_page {
            background-color: black;
            border: none;
            color: white;
           z-index: 99999;
           left: 0;
           top: 100px;
            text-align: center;
           position: absolute;
            display: inline-block;
            font-size: 26px;
          }
          .main{
            background-color: black;
            width: 150rem;
            float: left;
            height: 20rem;
           
            color: white;
          }
          .Footer3{
            background-color: rgb(13, 14, 13);
            width: 100%;
            height: 15rem;
        }
        
        .text{
            color: rgb(20, 216, 223);
           font-size: 1.8rem;
           padding-left: 10rem;
        }
        .Art_Gallery_Image_Text2{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 1rem;
            color: grey;
            text-align: center;
        }
        .icons img{
            width: 10rem;
            height: 40px;
            margin-left: 70rem;
        }
      
    }